try2test/flows-inactive/test-code/source/flows.json
{"exposed":{"exposedAll":true,"exposedFormat":"standard","filterIn":{"all":true,"filter":[]},"filterOut":{"all":true,"filter":[]},"useFilterIn":false,"useFilterOut":false},"header":{"input":[],"output":[]},"mainFlow":{"customBenthosInOut":false,"customBenthosInputs":"","customBenthosOutputs":"","exposed":{"exposedAll":true,"exposedFormat":"standard","filterIn":{"all":true,"filter":[]},"filterOut":{"all":true,"filter":[]},"useFilterIn":false,"useFilterOut":false},"flowId":"32e78590f6a95b02","flowName":"Test Code Node 2","flow_name":"Test-Code-Node-2-95b02","header":{"input":[],"output":[]},"isSubflow":false,"nodes":[{"action":"start","advanceCode":"","changed":false,"color":"#ffffff","desc":"","dirty":false,"display":"Start","execTime":0,"foundIt":false,"h":30,"id":"2cf14c5848949a55","ignoreNode":false,"inputs":0,"l":true,"name":"Start","nextNodes":[{"cond":"success","id":"7a17725ca86d15f3","next":true}],"outputs":1,"processId":"1735875556993667333","processName":"Test Code Node 2-1735875556993667333","resize":false,"rules":[{"cond":""}],"scopeId":"32e78590f6a95b02","scopeType":"mainFlow","testFailed":false,"testPassed":false,"testing":false,"type":"start","useFilterIn":false,"useFilterOut":false,"uuid":"","valid":true,"validationErrors":[],"vertical":false,"w":30,"wires":[["7a17725ca86d15f3"]],"x":622,"y":181,"z":"32e78590f6a95b02"},{"disabled":false,"id":"32e78590f6a95b02","ignoreNode":true,"info":"","label":"Test Code Node 2","scopeId":"32e78590f6a95b02","scopeType":"mainFlow","teamSharing":"Read-Write","type":"tab"},{"action":"end","advanceCode":"","changed":false,"color":"#ffffff","desc":"","dirty":false,"display":"End","execTime":0,"foundIt":false,"h":30,"id":"45c42d11b7728330","ignoreNode":false,"inputs":1,"l":true,"name":"End","nextNodes":[],"outPort":0,"outputs":0,"processId":"1735875556993667333","processName":"Test Code Node 2-1735875556993667333","resize":false,"scopeId":"32e78590f6a95b02","scopeType":"mainFlow","testFailed":false,"testPassed":false,"testing":false,"type":"end","useFilterIn":false,"useFilterOut":false,"uuid":"","valid":true,"validationErrors":[],"vertical":false,"w":30,"wires":[],"x":619,"y":590,"z":"32e78590f6a95b02"},{"Filter":" ","action":"code","borderColor":"#3FADB5","borderLineSize":"2","changed":false,"code":"root.X = \"xxx\"\nroot.Y = \"yyy\"","color":"#ffffff","dataBusCode":" ","databus_ref":true,"desc":"","dirty":false,"display":"Code","endNode":false,"exception":"","execTime":0,"filterIn":[],"filterOut":[],"flipNode":false,"foundIt":false,"h":65,"headerTextColor":"#999696","headerTextSize":"14","id":"7a17725ca86d15f3","ignoreNode":false,"inactiveNode":false,"input":[],"inputJson":"{}","inputs":1,"isAdvance":false,"l":true,"mainTextColor":"#333333","mainTextSize":"14","name":"Code Bloblang","nextNodes":[{"cond":"success","id":"71871354eb061e47","next":true}],"output":[],"outputs":1,"processId":"1735875556993667333","processName":"Test Code Node 2-1735875556993667333","properties.databus_ref":{"type":"property"},"resize":false,"result_mode":"new","returnFilter":" ","rules":[{"cond":"success"}],"sampleResult":"{}","scopeId":"32e78590f6a95b02","scopeType":"mainFlow","skeletonConfig":"### Fix Parameter ### \n# {{.dataBusCode}}\n# {{.id}}\n# {{.type}}\n# {{.returnFilter}}\n# {{.databus_ref}}\n# {{.result_mode}}\n# {{.display}}\n# {{.desc}}\n# {{.code}}\n# {{.uuid}}\n# {{.exception}}\n# {{.moved}}\n# {{.Filter}}\n# {{.name}}\n# {{.codeEditor}}\n\n### Databus Parameter ### \n#{}\n","testFailed":false,"testPassed":false,"testing":false,"type":"code","useFilterIn":false,"useFilterOut":false,"uuid":"","valid":true,"validationErrors":[],"vertical":false,"w":160,"wires":[["71871354eb061e47"]],"x":621,"y":319,"z":"32e78590f6a95b02"},{"Filter":" ","action":"code","borderColor":"#3FADB5","borderLineSize":"2","changed":true,"code":"hp_transform:\n    name: \"hp_transform\"\n    input: |\n        root = {}\n        root.B = \"B\"\n\n    mapping: |\n        root = {}\n        root.C = \"C\"\n\n    result_mode: \"merge\"\n\n    output: |\n        root = this\n        root.D = \"D\"","color":"#ffffff","dataBusCode":" ","desc":"","dirty":false,"display":"Code","endNode":false,"exception":"","execTime":0,"filterIn":[],"filterOut":[],"flipNode":false,"foundIt":false,"h":65,"headerTextColor":"#999696","headerTextSize":"14","id":"71871354eb061e47","ignoreNode":false,"inactiveNode":false,"input":[],"inputJson":"{}","inputs":1,"isAdvance":true,"l":true,"mainTextColor":"#333333","mainTextSize":"14","name":"Code Processor","nextNodes":[{"cond":"success","id":"45c42d11b7728330","next":true}],"output":[],"outputs":1,"processId":"1735875556993667333","processName":"Test Code Node 2-1735875556993667333","properties.databus_ref":{"type":"property"},"resize":false,"result_mode":"new","rules":[{"cond":"success"}],"sampleResult":"{}","scopeId":"32e78590f6a95b02","scopeType":"mainFlow","skeletonConfig":"### Fix Parameter ### \n# {{.inactiveNode}}\n# {{.id}}\n# {{.flipNode}}\n# {{.display}}\n# {{.moved}}\n# {{.result_mode}}\n# {{.dataBusCode}}\n# {{.type}}\n# {{.desc}}\n# {{.name}}\n# {{.codeEditor}}\n# {{.endNode}}\n# {{.properties.databus_ref}}\n# {{.code}}\n# {{.Filter}}\n# {{.exception}}\n# {{.uuid}}\n\n### Databus Parameter ### \n#{}\n","testFailed":false,"testPassed":false,"testing":false,"type":"code","useFilterIn":false,"useFilterOut":false,"uuid":"","valid":true,"validationErrors":[],"vertical":false,"w":160,"wires":[["45c42d11b7728330"]],"x":620,"y":462,"z":"32e78590f6a95b02"}],"output":[null],"startNodeId":"2cf14c5848949a55","transport":{"inputs":"","outputs":"","type":"YAML"}},"nodeList":{"MainFlowId":"32e78590f6a95b02","MainFlowName":"Test Code Node 2","Nodes":[{"Action":"","FlowId":"32e78590f6a95b02","FlowName":"Test Code Node 2","NodeId":"2cf14c5848949a55","NodeName":"Start","NodeType":"start","Status":"","SubflowId":"","SubflowName":"","headerIn":null,"headerOut":null},{"Action":"","FlowId":"32e78590f6a95b02","FlowName":"Test Code Node 2","NodeId":"32e78590f6a95b02","NodeName":"","NodeType":"tab","Status":"","SubflowId":"","SubflowName":"","headerIn":null,"headerOut":null},{"Action":"","FlowId":"32e78590f6a95b02","FlowName":"Test Code Node 2","NodeId":"45c42d11b7728330","NodeName":"End","NodeType":"end","Status":"","SubflowId":"","SubflowName":"","headerIn":null,"headerOut":null},{"Action":"","FlowId":"32e78590f6a95b02","FlowName":"Test Code Node 2","NodeId":"7a17725ca86d15f3","NodeName":"Code Bloblang","NodeType":"code","Status":"","SubflowId":"","SubflowName":"","headerIn":null,"headerOut":null},{"Action":"","FlowId":"32e78590f6a95b02","FlowName":"Test Code Node 2","NodeId":"71871354eb061e47","NodeName":"Code Processor","NodeType":"code","Status":"","SubflowId":"","SubflowName":"","headerIn":null,"headerOut":null}]}}